.hero {
  background:
    url('/images/hero-glow-center.png') center / 100% 100% no-repeat,
    url('/images/hero-bg.png') center / cover no-repeat;
  background-blend-mode: screen;
  height: 100vh;
  position: relative;

  &::before {
    background: url('/images/hero-glow-bottom-2.png') center bottom / 100% 20% no-repeat;
    content: '';
    height: 100%;
    left: 50%;
    mix-blend-mode: multiply;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  &::after {
    background: url('/images/hero-glow-bottom.png') center bottom / 100% 40% no-repeat;
    content: '';
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    // mix-blend-mode: multiply;
  }

  &__container {
    height: 100%;
    padding: 4rem 5rem 6rem;
    width: 100%;
  }

  &__characters {
    background: url('/images/hero-woman.png') left center / 577px 100% no-repeat,
      url('/images/hero-man.png') right center / 678px 100% no-repeat;
    height: 100%;
    position: relative;


    @media screen and (max-width: 998px) {
      background: url('/images/hero-woman.png') center / 577px 100% no-repeat;
    }

    &::after {
      background: url('/images/left-gradient.png') left center / 462px 100% no-repeat;
      content: '';
      height: 100%;
      left: 50%;
      mix-blend-mode: multiply;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }

    &::before {
      background: url('/images/right-gradient.png') right center / 462px 100% no-repeat;
      content: '';
      height: 100%;
      left: 50%;
      mix-blend-mode: multiply;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
    }
  }

  &__content {
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    position: relative;
    text-align: center;
    z-index: 1;
  }

  &__boxes-cover {
    max-width: 67rem;
  }

  &__img {
    object-fit: cover;
    width: 100%;
  }

  &__title {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
    text-transform: uppercase;

    @media screen and (max-width: 576px) {
      font-size: 3.2rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    font-weight: 400;
  }

}

.logo-hero {

  &__link {}

  &__cover {
    max-width: 27rem;
  }

  &__img {
    display: block;
    object-fit: cover;
    width: 100%;
  }
}